@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body{
    font-family: 'Montserrat', 'sans-serif';
    margin: 0;
    padding: 0;
}

.foodCard {
  display: flex;
  align-items: center;
  border: 1px solid rgb(167, 164, 164);
  border-radius: 0 0 20px 20px;
  padding: 0.5em;

  img {
    width: 20%;
    height: 70%;
    margin-left: 0.5em;
  }

  .price {
    p {
      font-size: 0.9em;
    }
    span {
      font-weight: 500;
      margin-left: 2px;
    }
    button {
      cursor: pointer;
      border-radius:50%;
      border: none;
      background-color: rgb(174, 221, 174);
      color: rgb(10, 121, 10);
      font-size: 1.3em;
      margin-left: 1.5em;
    }
    button:hover {
      color: #fff;
      transition: 0.2s ease-in;
    }
}
  .foodInformation {
    width: 35%;
    margin-inline: 1em;
    p {
      font-size: 0.8em;
    }
}
  .animated {
    position: absolute;
    top: 0%;
    left: 25%;
}
}

.foodCardsGrid {
  width: 50%;
  margin-inline: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  .dv {
    border: 1px solid red;
  }
}

.chooseExtras {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;

  .popUp {
    margin: 5em auto;
    height: 65vh;
    width: 50vw;
    background-color: #fff;
    border: 1px solid rgb(187, 186, 186);
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 8em;
      img {
        height: 50%;
        width: 50%;
      }
    }
    .right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .exit {
        height: 3em;
        width: 3em;
        border: none;
        background-color: rgb(250, 103, 103);
        color: #fff;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
      }
      .addFoodToList {
        display: flex;
        margin-top: 8em;
        align-items: center;
          p {
            margin-right: 3em;
          }
        .order {
          border: none;
          padding: 0.2em 1em;
          margin-right: 1em;
          width: 10em;
          height: 3em;
          border-radius: 2em;
          background-color: rgb(98, 230, 98);
          color: rgb(255, 255, 255);
          font-weight: 600;
          font-size: 1em;
          cursor: pointer;
        }
        .order:hover {
          background-color: rgb(44, 212, 44);
          transition: 0.2s ease-in;
        }
      }
      .extras {
        margin-bottom: 3em;
        p {
          font-size: 1.1em;
          font-weight: 500;
        }
      }
      li {
        margin-top: 8px; 
        span {
          font-weight: 500;
        }
      }
    }
  }
}

.listOfOrders {
  width: 30%;
  border: 1px solid #11C9D0;
  margin: 2em auto;
  padding: 1em;
  font-size: 1.2em;
  span {
    font-weight: 500;
  }
  button {
    margin-left: 1em;
    border: 2px solid rgb(204, 109, 109);
    color: rgb(211, 66, 66);
    font-size: 1em;
    padding-inline: 5px;
    background-color: #fff;
    cursor: pointer;
  }
  button:hover {
    color: #fff;
    background-color: rgb(211, 66, 66);
    font-weight: 500;
    transition: 0.2s ease-in;
    border: 2px solid rgb(211, 66, 66);
  }
  .warning {
    background-color: rgb(245, 76, 76);
    width: fit-content;
    color: #fff;
    padding: 3px;
    margin-top: 0.3em;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 2em;

  input[type = text] {
    border: none;
    margin: 0 0 1em 0.5em;
    width: 40%;
    font-size: 0.9em;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px rgba(255, 255, 255,1);
  }
  input:focus {
    outline: none;
    border-bottom: 2px solid #11C9D0;
  }
  input[type = submit] {
    width: 32%;
    height: 3em;
    margin-top: 1em;
    border: 2px solid #11C9D0;
    background-color: #fff;
    color: #11C9D0;
    border-radius: 1.1em;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
  }
  input[type = submit]:hover {
    background-color: #11C9D0;
    color: #fff;
    transition: 0.3s ease-in;
  }
}

.orderSubmitted {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  .content {
    position: relative;
    border: 1px solid rgb(59, 150, 59);
    width: 50%;
    height: 50%;
    margin:10% auto;
    button {
      position: absolute;
      top: 0;
      right: 0;
      width: 2em;
      height: 2em;
      margin: -1px;
    }
    h3 {
      margin: 10% auto 0;
      text-align: center;
    }
    p {
      margin-left: 1em;
    }
    .orderInfo {
      margin-top: 3em;
    }
  }
}

@media only screen and (max-width: 1176px) {
  .foodCard {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgb(194, 191, 191);
  }
  .chooseExtras{
    .popUp {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      height: 90vh;
      position: sticky;
      .left {
        margin-top: 6em;
        h2 {
          font-size: 1.2em;
        }
        img {
          width: 30%;
          height: 50%;
        }
      }
      .right {
        align-items: center;
        justify-content: center;
        .extras {
          margin-top: 2em;
        }
        .addFoodToList {
          flex-direction: column;
          margin-top: 6em;
          p {
            margin-right: 0;
          }
          .order {
            width: 7em;
          }
        }
        .exit {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }
  .listOfOrders {
    width: 45%;
  }
}

@media only screen and (max-width: 620px) {
  .foodCardsGrid {
    width: 90%;
  }
  .listOfOrders {
    width: 70%;
  }
  .orderSubmitted {
    margin-top: 2em;
    .content {
      width: 80%;
      h3 {
        margin-top: 3em;
      }
    }
  }
  .form {
    input[type = submit] {
      width: 8em;
    }
  }
}